Livros
<form method="post" action="/autores/{{livro.id}}">
<input type="text" name="name" placeholder="Nome do autor"  value="{{livro.name}}"  >
<input type="text" name="lastname" placeholder="Sobrenome do livro" value="{{livro.pags}}" >
<input type="submit" value="Salvar">
</form>