<h1>Livros</h1>
<a href="./livros/novo" style="margin: 5px 0">Novo</a>
<table style="width: 100%; border-collapse: collapse" border="1">
    <tr>
        <th>Nome</th>
        <th>Paginas</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>