Autores
<form method="post" action="/autores/{{autor.id}}">
<input type="text" name="name" placeholder="Nome do autor"  value="{{autor.name}}"  >
<input type="text" name="lastname" placeholder="Sobrenome do autor" value="{{autor.lastname}}" >
<input type="submit" value="Salvar">
</form>